@model ALISS.Business.ViewModels.Claim.ClaimListingViewModel
@using System.Configuration
@{
	bool isAdmin = (bool)ViewBag.IsAdmin;
	ViewBag.Title = "Organisation Claims";
	string publicSiteBaseUrl = System.Configuration.ConfigurationManager.AppSettings["BasePublicSiteUrl"];
}

@Html.Partial("_ClaimsDisclaimer")

<div class="aliss-search">
	<div class="aliss-search__filter">
		@using (Html.BeginForm("Index", "Claim", FormMethod.Get, new { @class = "aliss-form__group aliss-form__group--search" }))
		{
			<label class="aliss-form__label aliss-form__label--search" for="SearchBox">
				Search
			</label>
			<input id="SearchBox" name="searchTerm" class="aliss-form__search" type="text" value="@Model.SearchTerm" />
			<button class="btn btn--primary" type="submit">Search</button>
			if (!String.IsNullOrEmpty(Model.SearchTerm))
			{
				<div class="aliss-search__clear">
					@Html.ActionLink("Clear Search", "Index", "Claim", null, new { @class = "btn btn--primary" })
				</div>
			}
		}
	</div>
</div>

@if (!String.IsNullOrEmpty(ViewBag.ResponseMessage))
{
	@Html.Partial("_SuccessMessage")
}

<div class="aliss-pagination-tabs-component">
	<div class="aliss-pagination-tabs-component__wrapper">
		<div class="aliss-pagination-tabs-component__wrapper__item">
			<nav>
				<ol>
					<li>
						@Html.ActionLink("Organisations", "Index", "Claim", null, new { @class = "btn btn--primary" })
					</li>
					<li>
						@Html.ActionLink("Services", "Index", "ServiceClaim", null, new { @class = "aliss-pagination-previous" })
					</li>
				</ol>
			</nav>
		</div>
	</div>
</div>

<div class="aliss-pagination-results-component">
	<div class="aliss-pagination-results-component__wrapper">
		<div class="aliss-pagination-results-component__wrapper__item">
			<p>Total Results: <span>@Model.TotalResults</span></p>
		</div>
	</div>
</div>

<div class="aliss-table-container">
	<table class="aliss-table">
		<thead class="aliss-table__head">
			<tr class="aliss-table__row aliss-table__row--head">
				<th class="aliss-table__header" scope="col">Claim Status</th>
				<th class="aliss-table__header" scope="col">Claimant Name</th>
				<th class="aliss-table__header" scope="col">Organisation Name</th>
				<th class="aliss-table__header" scope="col">Claimed On</th>
				<th class="aliss-table__header" scope="col">Claimed User</th>
				@*<th class="aliss-table__header" scope="col">Overdue By</th>
					<th class="aliss-table__header" scope="col">Follow-up Sent</th>*@
			</tr>
		</thead>
		@foreach (var claim in Model.Claims)
		{
			string overdueBy = "N/A";
			if (claim.Status.ToLower() == "un-reviewed" && (DateTime.Today - claim.CreatedOn.Date).TotalDays > 3)
			{
				overdueBy = $"{(DateTime.Today - claim.CreatedOn.Date).TotalDays - 3} days";
			}
			<tbody class="aliss-table__body">
				<tr class="aliss-table__row aliss-table__row--body">
					<td class="aliss-table__cell">
						@Html.ActionLink(claim.Status, "EditClaim", "Claim", new { id = claim.ClaimId }, null)
					</td>
					<td class="aliss-table__cell">
						@if (isAdmin)
						{
							@Html.ActionLink(claim.ClaimedUserName, "EditUser", "User", new { id = claim.ClaimedUserId }, null)
						}
						else
						{
							@claim.ClaimedUserName
						}
					</td>
					<td class="aliss-table__cell">
						@if (!claim.OrganisationPublished)
						{
							@claim.OrganisationName
							<span class="d-block mt--16">
								<i class="fa fa-pencil-square-o"></i> @Html.ActionLink("Edit", "Index", "DataInputOrganisationSummary", new { id = claim.OrganisationId }, new { @class = "" })
							</span>
						}
						else
						{
							<a href="@($"{publicSiteBaseUrl}organisations/{claim.OrganisationId}")">@claim.OrganisationName</a>
							<span class="d-block mt--16">
								<i class="fa fa-pencil-square-o"></i> @Html.ActionLink("Edit", "Index", "DataInputOrganisationSummary", new { id = claim.OrganisationId }, new { @class = "" })
							</span>
						}
					</td>
					<td class="aliss-table__cell">@($"{claim.CreatedOn:dd/MM/yyyy}")</td>
					<td class="aliss-table__cell">
						@if (claim.ExistingClaimedUserId.HasValue)
						{
							if (isAdmin)
							{
								@Html.ActionLink(claim.ExistingClaimedUserName, "EditUser", "User", new { id = claim.ExistingClaimedUserId }, null)
							}
							else
							{
								<span>@claim.ExistingClaimedUserName</span>
							}
						}
					</td>
					@*<td class="aliss-table__cell">@overdueBy</td>
						<td class="aliss-table__cell">N/A</td>*@
				</tr>
			</tbody>
		}
	</table>
</div>

<div class="aliss-pagination-component">
	<div class="aliss-pagination-component__wrapper">
		<div class="aliss-pagination-component__wrapper__item">
			<p>Showing page <span>@Model.Page</span> of <span>@Model.TotalPages</span></p>
		</div>
		@if (Model.TotalPages > 1)
		{
			<div class="aliss-pagination-component__wrapper__item">
				<nav>
					<ol>
						@if (Model.Page > 1)
						{
							<li>
								<a href="?searchTerm=@Model.SearchTerm&page=@(Model.Page - 1)" class="aliss-pagination-previous">Previous</a>
							</li>
						}
						@if (Model.Page < Model.TotalPages)
						{
							<li>
								<a href="?searchTerm=@Model.SearchTerm&page=@(Model.Page + 1)" class="aliss-pagination-next">Next</a>
							</li>
						}
					</ol>
				</nav>
			</div>
		}
	</div>
</div>