@model dynamic

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>You are now a claimed user on ALISS</title>
</head>
<body>
    <table cellpadding="0" cellspacing="0" border="0" align="center" id="mainTable" style="background: #ffffff; width: 700px;">
        <tr style="background: #1E7ABD; color: #ffffff" class="brand-bg head">
            <td valign="top" align="left" style="background: #1E7ABD; color: #ffffff; padding: 25px 35px;" class="brand-bg d-pad">
                <img src="@Model.Logo" height="70" width="200" alt="A Local Information System for Scotland (ALISS) logo" />
            </td>
            <td valign="bottom" align="right" style="background: #1E7ABD; color: #ffffff; padding: 25px 35px; padding-left: 0 !important" class="brand-bg d-pad">
                <p style="margin-top: 0; margin-bottom: 5px;" class="date">&nbsp;</p>
                <h1 class="email-heading" style="color: #ffffff; margin: 0; font-size: 30px; line-height: 34px; font-family: Arial, sans-serif !important;">
                    You have been set as a claimed user
                </h1>
            </td>
        </tr>
        <tr><td height="30"></td></tr>
        <tr>
            <td valign="top" align="left" style="background: #ffffff; padding: 0 35px 0 35px;" height="100" colspan="2" class="d-pad-alt">
				<p style="font-size: 14pt; line-height: 22px; color: #000000 !important; font-family: Arial, sans-serif !important;">
					Hello @Model.Name (@Model.Username)
					<br /><br />
                    You have been assigned the lead claimant role of <a href="@Model.ItemLink">@Model.ItemName</a>
					<br /><br />
                    @Model.Message
                    <br /><br />
					Please remember to regularly review any information you add to ALISS, as it is important that people have reliable up to date information they can trust.
					<br /><br />
					If you have any queries about ALISS, or need some assistance please contact us at <a href="mailto:hello@aliss.org">hello@aliss.org</a>, we are happy to help.
					<br /><br />
					Best wishes,
					<br /><br />
					The ALISS team
					<br /><br />
				</p>
            </td>
        </tr>
        <tr>
            <td height="50"></td>
        </tr>
        <tr style="background: #4C5C68; color: #ffffff" class="brand-bg head">
            <td valign="center" align="center" style="background: #4C5C68; color: #ffffff; padding: 25px 35px; padding-bottom: 30px !important;" colspan="2" class="brand-bg d-pad">
                <p style="font-size: 16px; line-height: 22px; margin: 0px !important"></p>
            </td>
        </tr>

    </table>
</body>
</html>
