@model ALISS.Business.ViewModels.Category.EditLowerLevelCategoryViewModel
@{
	ViewBag.Title = Model.CategoryId == 0 ? "Add Category" : "Edit Category";
}

@if (ViewBag.Error != null && (bool)ViewBag.Error == true)
{
	@Html.Partial("_ErrorMessage")
	<br />
}

@using (Html.BeginForm("AddLowerLevelCategory", "Category", FormMethod.Post, new { @class = "aliss-form" }))
{
	@Html.AntiForgeryToken()
	<fieldset class="aliss-form__fieldset">
		<legend class="aliss-form__legend">Add a new category</legend>
		@Html.ALISSTextBox(m => m.Name)
		@Html.ALISSDisabledTextBox(m => m.Slug)
		@Html.ALISSDropDown(m => m.ParentCategoryId, Model.Categories)
		@Html.HiddenFor(m => m.CategoryId)
		@Html.HiddenFor(m => m.Slug)
	</fieldset>

	<div class="aliss-form__actions">
		<button id="save-category-changes" type="submit" class="btn btn--primary">Save</button>
		@Html.ActionLink("Cancel", "Index", "Category", null, new { @class = "btn btn--primary" })
	</div>
}

@section sidemenu {
	@if (Model.CategoryId > 0)
	{
		<div class="aliss-sidemenu">
			<h2>Actions</h2>
			<div class="aliss-component-master__links">
				<ul class="aliss-icon-list">
					<li class="aliss-icon-list__item">
						<i aria-hidden="true" class="aliss-icon-list__icon fa fa-trash"></i>
						@Html.ActionLink("Delete Category", "DeleteCategory", "Category", new { id = Model.CategoryId }, null)
					</li>
				</ul>
			</div>
		</div>
	}
}