@model ALISS.Business.ViewModels.Category.DeleteCategoryViewModel
@using System.Configuration
@{
	ViewBag.Title = "Delete Category";
}

@if (Model.CanDelete == false)
{
	@Html.Partial("_WarningMessage")

	<a class="btn btn--primary" href="#" onclick="history.back();">Back</a>
}
else
{
	<div class="aliss-warning">
		<p>Are you sure you want to delete the category @Model.CategoryName? This will remove this category from any services that currently have it as an associated category.</p>
	</div>

	if (Model.RelatedServices.Count > 0)
	{
		<p>By removing this category, the following services will no longer have a category assigned to them and won't appear in any search results:</p>
		<ul>
			@foreach (var service in Model.RelatedServices)
			{
				<li>@Html.ActionLink(service.ServiceName, "Index", "DataInputSummary", new { id = service.ServiceId }, null)</li>
			}
		</ul>
	}

	using (Html.BeginForm("DeleteCategoryConfirm", "Category", FormMethod.Post))
	{
		@Html.AntiForgeryToken()
		@Html.Hidden("id", Model.CategoryId)
		<div class="aliss-form__actions">
			<button type="submit" class="btn btn--primary">Delete</button>
			<a class="btn btn--primary" href="#" onclick="history.back();">Cancel</a>
		</div>
	}
}