@model ALISS.Admin.Web.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
    Layout = "~/Views/Shared/_LayoutLoggedOut.cshtml";
}

<h1>@ViewBag.Title.</h1>
<p>Reset your password.</p>
@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", autocomplete = "off" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Code, new { autocomplete = "off" })
    @Html.HiddenFor(model => model.Notes, new { autocomplete = "off" })

<fieldset autocomplete="off" class="aliss-form__fieldset">
    <legend class="aliss-form__legend">Reset your password</legend>
    @Html.LabelFor(m => m.Email, new { @class = "aliss-form__label" })
    @Html.TextBoxFor(m => m.Email, new { @class = "aliss-form__input", autocomplete = "off", Type = "Email" })
    @Html.LabelFor(m => m.Password, new { @class = "aliss-form__label" })
    @Html.PasswordFor(m => m.Password, new { @class = "aliss-form__input", autocomplete = "off" })
    <p>Passwords must be a minimum of eight characters and must have at least one capital letter (A-Z), one lower case letter (a-z), one number (0-9).</p>
    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "aliss-form__label" })
    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "aliss-form__input", autocomplete = "off" })
</fieldset>
    <div class="aliss-form__actions">
        <button type="submit" class="btn btn--primary">Reset Password</button>
    </div>
}
