@model ALISS.ApiServices.ViewModels.Search.SearchViewModel
@{
	bool isActive = !string.IsNullOrWhiteSpace(Model.Postcode);
	string whereLabelText = ViewBag.WhereLabelText;
	string wherePlaceholderText = ViewBag.WherePlaceholderText;
}
<fieldset id="where-filter" class="aliss-form__group aliss-form__group--no-margin" data-form="search-postcode">
	@Html.Hidden("postcode", Model.Postcode)

	<div class="aliss-accordion-container">
		<div class="aliss-content-accordion__filter-header">
			<button id="aliss-accordion-filter-by-postcode-btn" class="aliss-content-accordion__trigger aliss-accordion__trigger--active @(isActive ? "" : "")" type="button" data-accordion-trigger="filterByPostcode">
				Where
				<i class="fas fa-chevron-circle-down" aria-hidden="true"></i>
				<span class="sr-only">Click here to toggle the visibility of the postcode filter section</span>
			</button>
		</div>
		<div class="aliss-form aliss-form--no-margin">
			<div id="aliss-selected-postcode-container" class="aliss-form__selected-value-tag-container">
				@if (!String.IsNullOrEmpty(Model.Postcode))
				{
					<div class="aliss-form__selected-value-tag">
						<label id="selected-postcode" class="aliss-selected__remove">
							<i class="fa fa-times-circle" aria-hidden="true"></i>
							<span class="sr-only">Click here to remove the postcode</span>
						</label>
						<span id="selected-postcode-value" class="aliss-selected__value">@Model.Postcode</span>
					</div>
				}
			</div>
		</div>
		<div class="aliss-content-accordion__content pt--8 aliss-accordion__content--active @(isActive ? "" : "")" id="filterByPostcode" aria-hidden="true">
			<span class="aliss-form__label" for="search-postcode">@whereLabelText</span>
			<div class="aliss-form__input-container">
				<label class="aliss-form__label aliss-form__label--search" for="SearchBox">
					Search by postcode
				</label>
				<div id="aliss-search-postcode-filter" class="aliss-form__input-container mb--24">
					<input id="search-postcode" class="aliss-form__search--clearable" type="text" autocomplete="on" placeholder="@wherePlaceholderText">
					<span id="search-clear" class="aliss-form__input-container--clear"><i class="fas fa-times"></i></span>
				</div>
				<button id="search-button-postcode" class="btn btn--primary btn--submit">Search</button>
			</div>
		</div>
	</div>
</fieldset>
