@model ALISS.Business.ViewModels.DataInput.OrganisationViewModel
@{
	ViewBag.Title = "Add to ALISS";
	bool isOrganisationSubmitted = ViewBag.OrganisationSubmitted ?? false;
	bool organisationExists = ViewBag.OrganisationExists ?? false;
}

@if (!isOrganisationSubmitted)
{
	<div class="step-progress__panel__container">
		<div class="aliss-grid aliss-grid__data-input">
			<div class="aliss-content__wrap aliss-content__wrap--data-input">
				<div class="aliss-content__primary">
					<div class="data-input-container">
						@Html.Partial("_DataInputProgress")
					</div>
				</div>
			</div>
		</div>
	</div>
}

@if (ViewBag.Error != null && (bool)ViewBag.Error == true)
{
	@Html.Partial("_ErrorMessage")
	<br />
}

<div class="aliss-grid aliss-grid__data-input">
	<div class="aliss-content__wrap aliss-content__wrap--data-input">
		<div class="aliss-content__primary">
			@using (Html.BeginForm("Index", "DataInputOrganisation", FormMethod.Post, new { @class = "aliss-form aliss-data-input-form", onsubmit = "handleSubmit()" }))
			{
				@Html.AntiForgeryToken()
				@Html.HiddenFor(h => h.OrganisationId)
				<div class="data-input-container__panel">
					<div class="data-input-container__panel--main">
						<fieldset class="aliss-form__fieldset no-padding">
							<legend class="aliss-form__legend">Organisation</legend>
							<h1 class="mb--0 mt--0">Organisation</h1>
							<p class="mb--32">Please provide details about the organisation that provides the service. You will be able to provide details about the service itself on the next page.</p>

							@Html.ALISSTextBox(m => m.OrganisationName)

							@if (!organisationExists)
							{
								<fieldset class="aliss-form__group aliss-form__group--radio">
									<legend class="aliss-form__label">Do you want to claim this organisation?</legend>
									<div class="details-container mb--16">
										<div class="aliss-details__header">
											<a class="aliss-details__trigger" data-accordion-trigger="details0">
												<i class="fas fa-caret-right"></i>
												Why should I claim?
											</a>
										</div>
										<div class="aliss-details__content" id="details0">
											<div class="aliss-details__inner">
												<p>If you claim information on ALISS this means that you have taken responsibility for managing that information by keeping it up to date and accurate. You also have the chance to appoint Managers and share the workload of maintaining information on ALISS. Only you and your approved Managers will have access to editing this information unless a member of the ALISS team is required. </p>
											</div>
										</div>
									</div>
									<div class="aliss-form__radio">
										@Html.RadioButtonFor(m => m.OrganisationRepresentative, true, new { id = "OrganisationRepresentative-Yes" })
										@Html.Label("OrganisationRepresentative-Yes", "Yes")
									</div>
									<div class="aliss-form__radio">
										@Html.RadioButtonFor(m => m.OrganisationRepresentative, false, new { id = "OrganisationRepresentative-No" })
										@Html.Label("OrganisationRepresentative-No", "No")
									</div>
								</fieldset>
							}

							<div id="organisation-representative-info" aria-hidden="true" class="hide">
								@Html.ALISSTextBox(m => m.OrganisationRepresentativeRole)
								@Html.ALISSTextBox(m => m.OrganisationRepresentativeName)
								@Html.ALISSTextBox(m => m.OrganisationRepresentativePhone)

								<p>By claiming this organisation, you can manage the information on this page, which helps keep the information on ALISS up to date.</p>
								<p>By requesting to claim this organisation, I agree that:</p>
								<ul>
									<li>
										I have the authority and knowledge to keep the information up to date on ALISS.
									</li>
									<li>
										I am the ALISS Claimed user and lead contact for this information listed on ALISS.
									</li>
									<li>
										I am responsible for keeping all current and any further information added to this listing up to date.
									</li>
									<li>
										I am responsible for approving or declining any further requests by ALISS users to help manage this information, they will become Managers and help keep the information up to date.
									</li>
									<li>
										The ALISS Team decision is final.
									</li>
								</ul>

								<!--<p><b>Before you add the organisation please read our data standard (required)</b></p>

								<span id='terms' class="btn btn--primary">Data Standard</span><br /><br />-->
								@*Creating a PDF viewer Data Standard.*@
								<!--@{
									// Please replace string with webconfig setting PDR url
									@*var PDF = ViewBag.DataStandardsUrl;
									var PDFUrl = "https://docs.google.com/viewer?url=" + @PDF + "&embedded=true";*@
								}

								<div id="terms-pdf-box">
									@*Html.Partial("_PDFTemplate", new ViewDataDictionary(this.ViewData) {
									{ "url", @PDFUrl }})*@
								</div>-->

								@Html.ALISSCheckbox(m => m.OrganisationAcceptDataStandards)
								<hr class="content__divider" />
								<br />
							</div>

							@Html.ALISSRTEditor(m => m.OrganisationDescription, "Please enter a minimum of 50 characters and a maximum of 1000 characters, including spaces and punctuation.", 1000, true, true)

							<hr class="content__divider" />

							<h2 class="mt--48">Contact Details</h2>
							<p>Please add any contact details for the organisation that provides your service. You must provide at least one way of contacting your organisation.</p>
							@Html.ALISSTextBox(m => m.PhoneNumber)
							@Html.ALISSTextBox(m => m.Email)
							@Html.ALISSTextBox(m => m.Url)
							@Html.ALISSTextBox(m => m.Facebook)
							@Html.ALISSTextBox(m => m.Twitter)
							@Html.ALISSTextBox(m => m.Instagram)
						</fieldset>
					</div>

					@Html.HiddenFor(m => m.Slug)
					<input type="hidden" id="SlugDisplay" value="" />

					@Html.Partial("_DataInputNavigation")
				</div>
			}
		</div>
		@Html.Partial("_Guidance")
	</div>
</div>
